<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>
  <body>
    <h1 class="title">Welcome to the EJS Template</h1>
    <p>This is a simple EJS template example.</p>
    <p>Current Date and Time: <%= new Date().toLocaleString() %></p>
  </body>
</html>
